
@{
    ViewBag.Title = "urunkaydet";
    Layout = "~/Views/Shared/admin_layout.cshtml";

    IEnumerable<SelectListItem> cl = ViewData["catlist"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> sl = ViewData["suplist"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> stlist = ViewData["statlist"] as IEnumerable<SelectListItem>;
}


<br />
<br />
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> ÜRÜN GİRİŞ FORMU
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        @*<form class="form-horizontal" role="form" action="/Admin/KategoriKaydet" method="post">*@

        @using (Html.BeginForm("UrunKaydet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">ÜRÜN ADI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="ProductName" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">FİYAT</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Price" required onkeypress="return numberonly(this, event);">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">KATEGORİ SEÇİNİZ</label>
                    <div class="col-md-9">
                        @Html.DropDownList("CategoryID", cl, "Seçiniz", new { @class = "form-control input-lg", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">MARKA SEÇİNİZ</label>
                    <div class="col-md-9">
                        @Html.DropDownList("SupplierID", sl, "Seçiniz", new { @class = "form-control input-lg", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">STOK</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Stok" required onkeypress="return numberonly(this, event);">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">İNDİRİM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Discount" onkeypress="return numberonly(this, event);">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">DURUM SEÇİNİZ</label>
                    <div class="col-md-9">
                        @Html.DropDownList("statusID", stlist, "Seçiniz", new { @class = "form-control input-lg", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">ANAHTAR KELİMELER</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Keywords">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">KDV</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="kdv" required onkeypress="return numberonly(this, event);">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">BUNA BAKANLAR</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="BunaBakanlar" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">NOTLAR</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Notes">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">RESİM SEÇİNİZ</label>
                    <div class="col-md-9">
                        <input type="file" class="form-control input-lg" name="fileuploader" required>
                    </div>
                </div>
                <div class="form-actions right1">
                    <button type="submit" class="btn green">KAYDET</button>
                </div>
            </div>
        }

    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
